body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ffa500;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 40px;
}

header #login-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

footer {
    background-color: #ffa500;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.filter {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 10px;
}

.login-form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-form button {
    background-color: #ffa500;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#places-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.place-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-card .place-image {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.place-card .details-button {
    background-color: #ffa500;
    text-decoration: none;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.place-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
}


.place-image-large {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.place-info p {
    margin: 5px 0;
    color: #555;
}
#reviews {
    margin: 20px;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
}

.review-card p {
    margin: 5px 0;
    color: #555;
}
#add-review {
    margin: 20px;
}

.add-review.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.add-review.form label {
    margin: 10px 0 5px;
}

.add-review.form textarea,
.add-review.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-review.form button {
    align-self: center;
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.add-review.form button:hover {
    background-color: #FF4500;
}
